/**=====================
  3.15 Email-application CSS Start
==========================**/
%email-mixin {
  background: transparent;
  font-size: 15px;
  line-height: 25px;
}



/**=====================
  3.15 Email-application CSS Ends
==========================**/