/**=====================
    3.22 Job-search CSS Start
==========================**/





.select2-container {
  .select2-selection--single {
    border-radius: 0.25rem !important;
    height: 47px !important;
    padding: 10px;
  }
}



// sidebar


@media only screen and (max-width: 1366px) {
  .xl-mt-job {
    margin-bottom: 20px;
  }
}





// job-apply
.select-date {
  .select2-container--default {
    .select2-selection--single {
      .select2-selection__arrow {
        top: 9px;
        right: 12px;
      }
    }
  }
}

/**=====================
    3.22 Job-search CSS End
==========================**/